@{
    ViewBag.Title = "Email Confirmation Needed";
}

<h2>Email Confirmation Sent.</h2>
<p class="text-info">
   Confirmation emails may be classified as "Spam" or "Junk" by your provider.  Please check your email and confirm your email address. 
</p>
