@{
    ViewBag.Title = "Administrator";
}

<div class="jumbotron">
    <h2>Administrator Page</h2>

    <p><a href="/Categories/" class="btn btn-primary btn-lg">Categories &raquo;</a></p>
    <p><a href="/Courses/" class="btn btn-primary btn-lg">Courses &raquo;</a></p>
    <p><a href="/Sessions/" class="btn btn-primary btn-lg">Sessions &raquo;</a></p>
    <p><a href="/OnlineProviders/" class="btn btn-primary btn-lg">Providers &raquo;</a></p>
</div>