@{
    ViewBag.Title = "Thank You!";
}

<h2>Thank You!</h2>
<h5>You have sucessfully submitted an application for an online course!</h5>
<p class="text-info">
    We will contact you when your application has been processed.
</p>
