@model IEnumerable<SEATS.Models.ProviderCcaViewModel>

@section AddToHead{
    <link href="@Url.Content("~/Content/handsontable/handsontable.full.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "EditGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditGrid</h2>

<div id="example"></div>

@section Scripts {
    <script>

        var data = [
      ["", "Ford", "Volvo", "Toyota", "Honda"],
      ["2014", 10, 11, 12, 13],
      ["2015", 20, 11, 14, 13],
      ["2016", 30, 15, 12, 13]
        ];

        var container = document.getElementById('example');
        var hot = new Handsontable(container, {
            data: data,
            minSpareRows: 1,
            rowHeaders: true,
            colHeaders: true,
            contextMenu: true
        });

    </script>
}
