

<div class="text-center">


    @*<p><a href="/Categories/" class="btn btn-primary btn-lg">Categories &raquo;</a></p>
        <p><a href="/Courses/" class="btn btn-primary btn-lg">Courses &raquo;</a></p>
        <p><a href="/Sessions/" class="btn btn-primary btn-lg">Sessions &raquo;</a></p>
        <p><a href="/OnlineProviders/" class="btn btn-primary btn-lg">Providers &raquo;</a></p>*@
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Administrator Tools</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/CourseCategories/" class="btn btn-info btn-lg "><span class="glyphicon glyphicon-list-alt"></span></a>
                        </div>
                        <div class="service-desc">
                            <a href="/CourseCategories/"><h5>Categories</h5></a>
                            <p>Edit course categories.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/OnlineCourses/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/OnlineCourses/"><h5>Courses</h5></a>
                            <p>Edit courses.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Sessions/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Sessions/"><h5>Sessions</h5></a>
                            <p>Activate or add sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Providers/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-education"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Providers/"><h5>Providers</h5></a>
                            <p>Add or Edit Providers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Students/" class="btn btn-info btn-lg "><span class="glyphicon glyphicon-user"></span></a>
                        </div>
                        <div class="service-desc">
                            <a href="/Students/"><h5>Students</h5></a>
                            <p>Edit student information.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Parents/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Parents/"><h5>Parents</h5></a>
                            <p>Edit parent information</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Counselors/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-education"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Counselors/"><h5>Counselors</h5></a>
                            <p>Manage counselors</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Reports/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Reports/"><h5>Reports</h5></a>
                            <p>Generate Reports</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>


        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/Account/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-tasks"></span></a>

                    </div>
                    <div class="service-desc">
                        <a href="/Account/"><h5>Manage Users</h5></a>
                        <p>Add and edit user accounts.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInDown" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/Admin/CcaInterface" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                    </div>
                    <div class="service-desc">
                        <a href="/Admin/CcaInterface"><h5>Manage CCAs</h5></a>
                        <p>Manage Course Credit Agreements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInDown" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/PrimaryRejectionReasons/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                    </div>
                    <div class="service-desc">
                        <a href="/PrimaryRejectionReasons/"><h5>Rejection Reasons</h5></a>
                        <p>For Primary</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInDown" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/ProviderRejectionReasons/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                    </div>
                    <div class="service-desc">
                        <a href="/ProviderRejectionReasons/"><h5>Rejection Reasons</h5></a>
                        <p>For Provider</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>


        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/CourseCompletionStatus/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-tasks"></span></a>

                    </div>
                    <div class="service-desc">
                        <a href="/CourseCompletionStatus/"><h5>Status Options</h5></a>
                        <p>Edit Course Status Options</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInDown" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/ProviderUsers/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                    </div>
                    <div class="service-desc">
                        <a href="/ProviderUsers"><h5>Provider Users</h5></a>
                        <p>Manage Users</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInDown" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="/PrimaryUsers/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                    </div>
                    <div class="service-desc">
                        <a href="/PrimaryUsers/"><h5>Primary Users</h5></a>
                        <p>Manage Users</p>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

</div>
