@{
    ViewBag.Title = "Email Confirmation Needed";
}

<h2>Email Confirmation Sent.</h2>
<p class="text-info">
   Confirmation emails may be classified as "Spam" or "Junk" by your provider.  Please check your email and confirm your email address. 
</p>
<p>
    If email is not received please contact <a href="mailto:becky.andrews@schools.utah.gov,dawn.west@schools.utah.gov,Katrina.Cole@schools.utah.gov">Tech Support</a><br />
</p>
