@{
    ViewBag.Title = "About";
}
@* Intro *@
<div class="row">
    <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
    </div>
</div>
<div class="heading-about text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                        <h2>About</h2>
                        <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">

    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="http://www.schools.utah.gov/edonline/" target="_blank" class="glyphicon glyphicon-info-sign"></a>
                    </div>
                    <div class="service-desc">
                        <a href="http://www.schools.utah.gov/edonline/" target="_blank"><h5>Information</h5></a>
                        <p>More information at the Utah State Office of Education.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="#terms" class="glyphicon glyphicon-list-alt"></a>
                    </div>
                    <div class="service-desc">
                        <a href="#terms"><h5>Terms and Conditions</h5></a>
                        <p>Terms and Conditions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInDown" data-wow-delay="0.2s">
                <div class="service-box">
                    <div class="service-icon">
                        <a href="#faq" class="glyphicon glyphicon-question-sign"></a>
                    </div>
                    <div class="service-desc">
                        <a href="#faq"><h5>FAQ</h5></a>
                        <p>Frequently Asked Questions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
        </div>
    </div>
</div>

@* FAQ *@
<section id="faq" class="home-section text-center bg-gray">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
        </div>
    </div>
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>FAQ</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">

                    <h5>FAQ</h5>
                    <h4>Who is eligible for the Statewide Online Education Program (SOEP)?</h4>

                    <ul>
                        <li >
                            An <strong>Eligible Student</strong> is defined as:
                            <ol>
                                <li>A student enrolled in a district school or charter school in Utah, or </li>
                                <li>
                                    A student:
                                    <ul>
                                        <li>who attends a private school or home school; AND</li>
                                        <li>whose custodial parent or legal guardian is a resident of Utah.</li>
                                    </ul>
                                </li>
                            </ol>

                        </li>
                        <li >If a student is not currently enrolled in a district school or charter school in Utah, they must be <strong>at least 6 years old</strong>, but <strong>younger than 18 years old.</strong> Youth Offenders may be eligible to participate until the age of 21, provided they meet other eligibility standards.</li>
                        <li >Students who attend a home school must have a Home School release which is current when course-work commences, and extends through standard date of course completion. </li>
                        <li >Carson Smith Scholarship recipients are eligible.</li>
                        <li >
                            A student who attends a private school outside the state of Utah may be eligible if they have:
                            <ol>
                                <li>A custodial parent who is either a permanent resident in the state of Utah, or</li>
                                <li>A custodial parent who can demonstrate permanent residence during a period of temporary residence outside of Utah.</li>
                            </ol>
                        </li>
                        <li>
                            Public and private school students enrolling prior to the 9th grade are required to have:
                            <ol>
                                <li><strong>Public school students</strong>, a Student Education/Occupation Plan (SEOP) which includes a plan for Early Graduation, with approval, from the high school from which they intend to graduate. And that credit earned prior to the 9th grade will be accepted for purposes of high school graduation at that school;</li>
                                <li><strong>Private school students</strong> must have approval from the high school from which they intend to graduate. And that credit earned prior to the 9th grade will be accepted for purposes of high school graduation at that school.</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

@* Terms *@
<section id="terms" class="home-section text-center bg-gray">

    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Terms and Conditions</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">

                    
                    <h4>Terms and Conditions</h4>
                    <p>The Primary LEA, Provider LEA, the Student, and the Parent(s) agree to the terms of this Course Credit Acknowledgement, and the provisions of Utah State Board of Education Rule R277-726 (the Rule), Utah State Code sections 53A-15-1002, 53A-15-1006, 63I-2-253, 53A-15-1201 thru1217 (the Law).</p>
                    <ul>
                        <li >
                        <strong>ASSESSMENTS: </strong>The Provider LEA agrees that state required assessment/accountability results related to the course provided per this CCA will be attributed to the Provider LEA, and that the Provider will carry out all testing as in 53A-15-1210, R277-726-7(A) and R277-473. Students and parents acknowledge the requirement that the student complete all required testing.

                        </li>
                        <li>
                            <strong>COURSE FEES AND PAYMENT TO PROVIDERS: </strong>The Provider LEA agrees that to receive the fee for this course as defined by Utah State Code, the Provider LEA must amend this CCA to its appropriate stage based on the performance by the Provider LEA and the Student.  This will require the Provider to file Confirmation, Continuation and Completion data.

                        </li>
                        <li>
                            <strong>CREDIT AND GRADES: </strong>The Provider LEA agrees to transmit the grade and credit for the course to the Primary LEA of enrollment within 30 days of the student completing or remediating a course. 

                        </li>
                        <li>
                            <strong>SIGNATURES REQUIRED FOR AUDIT AND OTHER PURPOSES: </strong>The Primary LEA acknowledges it is responsible to obtain a physical signature from the student and parent(s) on this form, and maintain a signed copy in its records.

                        </li>
                        <li>
                            <strong>ACCOUNTABILITY: </strong>The Primary and Provider LEA acknowledge they will conform to all reporting requirements specifically related to all courses and any related AYP and/or SAGE testing per Utah State Board of Education rules and Utah State Code.

                        </li>
                        <li>
                            <strong>COURSE START AND END: </strong>All parties acknowledge that the course begins on the "Course Start Date" indicated on this form and: (a) Semester course has a standard completion date of 9 weeks beyond the end of a traditional semester; (b) Full Year course ends one year beyond course start date. 

                        </li>
                        <li>
                            <strong>REQUIRED CHANGES IN ENROLLMENT RECORDS: </strong>All parties agree to the following administrative procedures:
                            <ol>
                                <li><strong>Pending CCA</strong> the CCA has been initiated by one of the parties; the other parties have not executed the CCA. Parties have 72 Business Hours (8 business days) after receipt of a CCA to accept or reject that CCA, or it will be considered accepted.</li>
                                <li><strong>Executed CCA</strong> the student and parents, the primary LEA, and the Provider LEA have digitally signed the CCA and sent it to the Utah State Office of Education (USOE) for processing. The USOE has notified the Primary LEA, Provider LEA that the CCA is fully executed. Instruction may begin upon completion of this step. The student will have 20 days beyond the start date of the course, or the date on which they became enrolled if this is after the start date,  to withdraw as per R277-726-1(S); 53A-15-1208(2)(b).  For a full-year course, the student may also withdraw up to 20 days into the second semester.</li>
                                <li><strong>Confirmed CCA</strong> the Provider LEA sends the CCA to the USOE to confirm the student has participated in at least 10 days of instruction in the online course. This will result in the USOE withholding the full course fee from the Primary LEA in a monthly allotment, and sending the portion of the fee defined by the law to the Provider.</li>
                                <li><strong>Continued CCA</strong> the Provider LEA sends the CCA to the USOE to indicate the student has remained enrolled in a full year course for the second semester. This results in the USOE sending the portion of the fee defined by the law to Provider LEA.</li>
                                <li><strong>Completed CCA</strong> the Provider LEA sends the CCA to the USOE to indicate the student has completed the course by the standard completion date. USOE sends the portion of the fee defined by the law to the Provider LEA.  A course will not be considered completed until a student has earned a passing grade, and that grade has been communicated to the Primary LEA of Enrollment.</li>
                                <li><strong>Remediated CCA</strong> the Provider LEA sends the CCA to the USOE to indicate the student has completed the course after the standard completion date, but before the graduation date. USOE then sends the portion of the fee defined by the law to the Provider LEA.</li>
                                <li><strong>Expired CCA</strong> the Provider LEA does not send the CCA to the USOE before the graduation date passes. This results in the USOE sending the portion of the fee defined by the law to the Uniform School Fund.</li>
                                
                            </ol>
                        </li>
                        <li>
                            <strong>SPECIAL EDUCATION AND 504 ACCOMMODATIONS: </strong>If the online course student has an individual education plan (IEP) or 504 Accommodations, the Primary LEA of Enrollment shall forward the IEP or description of 504  Accommodations to the online course provider within 72 business hours after the primary LEA of enrollment receives notice from USOE that the online course provider accepted the course credit acknowledgement (53A-15-1208). A Parent/Guardian signature on this document or made electronically in this form will be understood to constitute acknowledgement of the duty of officers of the Primary School to transfer information consistently with state law and applicable federal protections regarding identifiable student information.

                        </li>
                        <li>
                            <strong>ACTIVE PARTICIPATION: </strong>An Online Provider must notify students of expectations for active participation in course work (R277-726-7(O)), must cooperate with USOE in providing timely documentation of participation (R2770-726-7(8)), and must refund a payment received for a student who enrolls in an online course if the student withdraws for an online course within 20 days (53A-15-1208(2)(b)).

                        </li>
                        <li>
                            <strong>WITHDRAWAL: </strong>Primary Schools of Enrollment (Counselors) and Providers should make students aware of the 20 day “decision” period; Providers and/or Counselors must notify USOE of student intent to withdraw by email after receiving notice of desire to withdraw.

                        </li>
                       
                    </ul>
                    <p>All parties acknowledge that the Utah State Board of Education reserves the right to reject this CCA if it does not have all the appropriate electronic signatures of all parties, does not conform to the Law or the Rule, or otherwise is not complete and accurate. All parties agree that instruction will not begin, costs will not be incurred by the Provider LEA and USOE will not initiate funding or approval until the CCA has been executed by the student and parent(s), the Primary LEA, and the Provider LEA and received by USOE. Parents and students acknowledge that any change in registration affecting enrollment/participation in this course must  be communicated to Provider directly and without delay. Terms of this Acknowledgement are subject to revision or modification by the Utah State Board of Education at any time without specific notice to parties to the  Acknowledgement. All provisions of this Acknowledgement are subject to review, verification and audit by USOE upon request. Funds may be withheld by USOE for failure to provide complete and adequate information and a valid signature.</p>
                </div>
            </div>
        </div>
    </div>

</section>
