@{
    ViewBag.Title = "Contact";
}
<h2>Contact Utah Public Education Online</h2>
<h3>Contact Information</h3>

<p>Dr. Cory Kanth</p>
<address>
    250 East 500 South<br />
    Salt Lake City, UT 84114-4200<br />
    <abbr title="Phone"></abbr><br />
    Main:              (801) 538 7500<br />
    Technical Support: (801) 538 7800<br />
    Direct:            (801) 538 7660
</address>

<address>
    <strong>Questions:</strong>   <a href="mailto:cory.kanth@schools.utah.gov">Program Administrator</a><br />
    <strong>Problems:</strong>   <a href="mailto:beck.andrews@schools.utah.gov,joshua.graham@school.utah.gov">Support</a><br />
    <strong>Program Administrator:</strong> <a href="mailto:aaron.brough@schools.utah.gov">Contact</a>
</address>