@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<!-- Section: about -->
@if (!Request.IsAuthenticated) //User is not logged in.
{
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Get Started</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Account/Register/" class="glyphicon glyphicon-pencil"></a>
                        </div>
                        <div class="service-desc">
                            <a href="/Account/Register/"><h5>Register</h5></a>
                            <p>Register for a account.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Account/Login/" class="glyphicon glyphicon-log-in"></a>
                        </div>
                        <div class="service-desc">
                            <a href="/Account/Login/"><h5>Login</h5></a>
                            <p>If you already have an existing account.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Home/About/" class="glyphicon glyphicon-info-sign"></a>
                        </div>
                        <div class="service-desc">
                            <a href="/Home/About/"><h5>Learn More</h5></a>
                            <p>Information about Utah Online Public Education.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Home/Contact/" class="glyphicon glyphicon-phone-alt"></a>
                        </div>
                        <div class="service-desc">
                            <a href="/Home/Contact/"><h5>Contact Us</h5></a>
                            <p>Still have questions?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Welcome!</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">

                            <a href="/Admin/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-wrench"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Admin/"><h5>Manage Courses</h5></a>
                            <p>Courses, Categories, Providers, and Sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Account/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-tasks"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Account/"><h5>Manage Users</h5></a>
                            <p>Add and edit user accounts.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInDown" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/MainTables/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                        </div>
                        <div class="service-desc">
                            <a href="/MainTables/"><h5>Manage CCAs</h5></a>
                            <p>Manage Course Credit Agreements.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Reports/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span></a>
                        </div>
                        <div class="service-desc">
                            <a href="/Reports/"><h5>Reports</h5></a>
                            <p>Generate Reports</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/Manage/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/Manage/"><h5>Manage My Account</h5></a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <a href="/CCAs/Create" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>

                        </div>
                        <div class="service-desc">
                            <a href="/CCAs/Create"><h5>Registration</h5></a>
                            <p>Register for online courses.</p>
                        </div>
                    </div>
                </div>
            </div>
        }


        <br />
    </div>
}

<!-- /Section: Services -->
